pdfplumber
openai
numpy
moviepy
imageio-ffmpeg   # ← important for moviepy on Render / Linux
manim
rdkit
biopython
requests
pillow
gtts
librosa
PySimpleGUI
pydub
flask
sentry-sdk
stripe
firebase-admin
boto3
